# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
bruinbase/large.*
bruinbase/medium.*
bruinbase/output.txt
bruinbase/small.*
bruinbase/test.*
bruinbase/test2.*
bruinbase/xlarge.*
bruinbase/xsmall.*
